<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GmSupp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>
  <connectionStrings>
    <add name="GmSupp.My.MySettings.CentroConnectionString" connectionString="Data Source=192.168.12.201,55555;Initial Catalog=Centro;Persist Security Info=True;User ID=gm;Password=1mgergm++"
      providerName="System.Data.SqlClient" />
    <add name="GmSupp.My.MySettings.HglpConnectionString" connectionString="Data Source=192.168.12.201,55555;Initial Catalog=Hglp;Persist Security Info=True;User ID=gm;Password=1mgergm++"
      providerName="System.Data.SqlClient" />
    <add name="GmSupp.My.MySettings.LNKConnectionString" connectionString="Data Source=192.168.12.201,55555;Initial Catalog=LNK;Persist Security Info=True;User ID=gm;Password=1mgergm++"
      providerName="System.Data.SqlClient" />
    <add name="GmSupp.My.MySettings.GenConnectionString" connectionString="Data Source=192.168.12.201,55555;Initial Catalog=Hglp;Persist Security Info=True;User ID=gm;Password=1mgergm++"
      providerName="System.Data.SqlClient" />
    <add name="GmSupp.My.MySettings.LKConnectionString" connectionString="Data Source=192.168.12.201,55555;Initial Catalog=LK;Persist Security Info=True;User ID=gm;Password=1mgergm++"
      providerName="System.Data.SqlClient" />
    <add name="GmSupp.My.MySettings.ReveraConnectionString" connectionString="Data Source=192.168.12.201,55555;Initial Catalog=Revera;Persist Security Info=True;User ID=gm;Password=1mgergm++"
      providerName="System.Data.SqlClient" />
    <add name="GmSupp.My.MySettings.PFICConnectionString" connectionString="Data Source=192.168.12.201,55555;Initial Catalog=PFIC;Persist Security Info=True;User ID=gm;Password=1mgergm++"
      providerName="System.Data.SqlClient" />
    <add name="GmSupp.My.MySettings.NVFConnectionString" connectionString="Data Source=192.168.12.201,55555;Initial Catalog=NVF;Persist Security Info=True;User ID=gm;Password=1mgergm++" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section configures My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <!--<add name="FileLog"/>-->
          <!-- Uncomment to connect the application file log. -->
          <!-- <add name="FileLog" /> -->
          <!-- Uncomment to connect the event log. -->
          <!-- <add name="EventLog" /> -->
          <!-- Uncomment to connect the event log. -->
          <add name="Delimited" />
          <!-- Uncomment to connect the XML log. -->
          <!-- <add name="XmlWriter" /> -->
          <!-- Uncomment to connect the console log. -->
          <!-- <add name="Console" /> -->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener,   &#xD;&#xA;                 Microsoft.VisualBasic, Version=8.0.0.0,   &#xD;&#xA;                 Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" initializeData="FileLogWriter" />
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener,   &#xD;&#xA;                 System, Version=2.0.0.0,   &#xD;&#xA;                 Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="sample application" />
      <add name="Delimited" type="System.Diagnostics.DelimitedListTraceListener,   &#xD;&#xA;                 System, Version=2.0.0.0,   &#xD;&#xA;                 Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\temp\sampleDelimitedFile.txt" traceOutputOptions="DateTime" />
      <add name="XmlWriter" type="System.Diagnostics.XmlWriterTraceListener,   &#xD;&#xA;                 System, Version=2.0.0.0,   &#xD;&#xA;                 Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\temp\sampleLogFile.xml" />
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener,   &#xD;&#xA;                 System, Version=2.0.0.0,   &#xD;&#xA;                 Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="true" />
    </sharedListeners>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <GmSupp.My.MySettings>
      <setting name="CryptoKey" serializeAs="String">
        <value>82wbp5qgn7373hlm0f22</value>
      </setting>
    </GmSupp.My.MySettings>
  </userSettings>
</configuration>